.button {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;

    padding: 12px 20px;

    border: 1px solid $multicolor;
    border-radius: 25px;

    color: $lightTextColor;
    background-color: transparent;

    &:hover,
    &:focus {
        color: $lightTextColor;
        background-color: $multicolor;
    }
}

.about__button {
    color: $primaryTextColor;
}