.footer--bgc {
  background-color: $thirdBgc;
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__form-title {
  color: $primaryBgc;
  margin-bottom: 44px;
}

.footer__label {
  position: relative;
  width: 418px;
  margin-bottom: 44px;
}

.footer__input, .footer__textarea {
  width: 100%;
  outline: transparent;
  background-color: transparent;
  border: none;

  color: $secondaryTextColor;
  border-bottom: 1px solid $secondaryTextColor;

  &:hover,
  &:focus {
    border-bottom: 1px solid $lightTextColor;
  }
}

.footer__input-name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
  font-weight: 1.36;

  color: $secondaryTextColor;

  transform: translateY(10px);
  transition: transform 400ms ease;
}

.footer__input:focus + .footer__input-name,
.footer__textarea:focus + .footer__input-name {
  color: $lightTextColor;
  transform: translateY(-15px);
}

.footer--bgi {
  background-size: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/background/footer-bgi_mob.png), linear-gradient($thirdBgc, $thirdBgc);

  @include barb(retina) {
      background-image: url(../../images/background/footer-bgi_mob@2x.png), linear-gradient($thirdBgc, $thirdBgc);
  }
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.footer-contacts__title {
  color: $primaryBgc;
  margin-bottom: 40px;
}

.footer__street, .footer__tel, .footer__mail {
  display: flex;
  align-items: center;
  color: $secondaryTextColor;
  margin-bottom: 20px;
}

.footer__mail {
  margin-bottom: 44px;
}

.footer__svg {
  margin-right: 20px;
  fill: currentColor;
}

.footer-contacts__subtitle {
  margin-bottom: 20px;

  color: $lightTextColor;

  &::before {
    background-color: $subtitleLightColor;
  }
}

.footer-contacts__time {
  color: $secondaryTextColor;
}


// footer__bottom
.footer__bottom {
  padding: 44px 0;
}

.footer__list {
  display: flex;
  justify-content: flex-end;
}

.footer__inst {
  text-transform: none;
  margin-right: 40px;

  &::before {
    margin-right: 40px;
  }
}

.footer__copyright {
  color: $secondaryTextColor;
}

.footer-copyright__svg {
  fill: $secondaryTextColor;
}