.header {
  position: absolute;

  padding-top: 40px;
  z-index: 10;
  width: 100vw;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.logo {
  fill: $primaryBgc;
}

.header__close {
  display: none;
  fill: $thirdBgc;
}

.header__button {
  display: none;

  @include barb(mobile-only) {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    color: $primaryBgc;
    background-color: transparent;

    &.is-open .header__close {
      display: block;
    }

    &.is-open .header__menu-burger {
      display: none;
    }

    &:focus,
    &:hover {
      color: $multicolor;
    }
  }
}

.header__menu-svg {
  @include barb(mobile-only) {
    position: relative;
    z-index: 100;
    fill: currentColor;
  }
}

.header__menu {
  display: none;
  z-index: 50;

  width: 70%;
  height: 796px;

  position: fixed;
  top: 0;
  right: 0;

  background-color: $primaryBgc;

  &.is-open {
    display: block;
  }
}

.header__menu-tumb {
  padding-left: 40px;
  padding-top: 118px;
}

.header__list {
  margin-bottom: 64px;
}

.header__item:not(:last-child) {
  margin-bottom: 24px;
}

.header__item-list {
  font-weight: 600;
  line-height: 1.39;
  letter-spacing: .1em;

  &:focus,
  &:hover {
    color: $multicolor;
  }
}

.header__online {
  margin-bottom: 64px;
}

.header__tel {
  margin-bottom: 24px;
}

.header__social {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.37;

}

.header__social--line{ 
  margin-bottom: 24px;

  &::before {
    content: '';
    display: block;

    width: 60px;
    height: 1px;
    margin-right: 40px;

    background-color: $primaryTextColor;
}
}
.header__social--notline {
  margin-left: 100px;
}