.title {
    font-family: $secondFont;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: .05em;

    margin-bottom: 20px;
}

.subtitle {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    margin-bottom: 20px;

    &::before {
        content: '';
        display: block;

        width: 60px;
        height: 1px;
        margin-right: 20px;

        background-color: $primaryTextColor;
    }
}

.subtitle--notbefore {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
}

.subtitle--light {
    color: $subtitleLightColor;

    &::before {
        background-color: $subtitleLightColor;
    }
}

//* hero
.hero__title {
    font-size: 48px;

    color: $lightTextColor;
}

//* about
.about__title {
    font-size: 28px;
}

//* price
.price__title {
    margin-bottom: 44px;
    
    color: $lightTextColor;
}