.about__text {
    font-size: 16px;
    line-height: 1.62;

    margin-bottom: 20px;
    
    color: $thirdTextColor;
}

.about__paragraph {
    font-size: 14px;
    line-height: 1.86;

    margin-bottom: 40px;

    color: $thirdTextColor;
}