.hero {
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 208px;
    padding-bottom: 183px;

    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/background/hero-bgi_mob.webp);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/background/hero-bgi_mob.jpg);

    @include barb(retina) {
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/background/hero-bgi_mob.webp);
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/background/hero-bgi_mob.jpg);
    }
}

.hero__text {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;

    color: $secondaryTextColor;
}