body {
    background-color: $primaryBgc;
    font-family: $mainFont, sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: .02em;

    color: $primaryTextColor;
}

.container {
    margin: 0 auto;
    padding: 0 31px;

    @include barb(mobile) {
        width: 480px; 
    }

    @include barb(tablet) {
        width: 768px;
    }

    @include barb(desktop) {
        width: 1280px;
        padding: 0 55px;
    }
}