// * Fonts
$mainFont: Open Sans;
$secondFont: Raleway;

// * Colors:
$primaryBgc: #FFFFFF;
$secondaryBgc: #F7F7F7;
$thirdBgc: #191C26;
$priceSecondBgi: (180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);

$primaryTextColor: #303030;
$secondaryTextColor: #9DA4BD;
$thirdTextColor: #555555;
$lightTextColor: #FFFFFF;
$subtitleLightColor: rgba(157, 164, 189, 0.6);

$multicolor: #FF6C00;
