// * Fonts
$mainFont: Open Sans;
$secondFont: Raleway;

// * Colors:
$primaryBgc: #E5E5E5;
$secondaryBgc: #F7F7F7;
$thirdBgc: #191C26;

$primaryTextColor: #303030;
$secondaryTextColor: #9DA4BD;
$thirdTextColor: #555555;
$lightTextColor: #FFFFFF;

$multicolor: #FF6C00;
